[data-theme="light"] {
  --color-bg: #1a2024;
  --color-fg: #000000;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  display: grid;
  min-height: 100vh;
  place-items: center;
}

button {
  background-color: var(--color-bg);
  color: var(--color-fg);
  display:grid;
  place-items: center;
}

#puzzleContainer {
  display: grid;
  grid-template-columns: repeat(5, 100px); /* Equal width columns */
  grid-template-rows: repeat(5, 100px); /* Equal height rows */
  grid-gap: 2px;
  justify-content: center;
  margin: 0 auto;
  /* border: 1px solid #ccc;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px; */
  aspect-ratio: 1;
}

.puzzle-item {
  /* width: 100%; */
  background-color: var(--color-bg);
  padding: 20px;
  margin: 2px;
  text-align: center;
  /* font-size: 3vmax; */
  font-size: 52px;
  font-family: 'Courier New', Courier, monospace;
  color: #a2b2bd;
  border: 2px solid #79848b;
  border-radius: 15px;

}

h1 {
  color: #a2b2bd;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 2em;
  margin-top: 20px;
}