[data-theme="light"] {
  --color-bg: #666666;
  --color-fg: #000000;
}

[data-theme="dark"] {
  --color-bg: #000000;
  --color-fg: #ffffff;
}

body {
 background-color: var(--color-bg);
 color: var(--color-fg);
 display: grid;
 min-height: 100vh;
 place-items: center;
}
